.post-block:hover{
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    transition: .5s;
    }

.post-block{
    padding: 20px 20px 20px 20px;
    transition: all .5s linear;
    border-radius: 10px;
    }

nav.pagination {
    text-align: center;
    font-size: larger;
}

.post-body h1:hover, .post-body h2:hover, .post-body h3:hover, .post-body h4:hover, .post-body h5:hover, .post-body h6:hover{
    padding-left: 15px;
    transition: .4s;
    }

.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6{
    transition: all .4s linear;
    }


// .post-body ul>li{
//     line-height: 1.5em;
//   list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);
//   }

/*block beautify ol*/
.post-body ol {
    counter-reset: li;
    /* Initiate a counter */
    list-style: none;
    /* Remove default numbering */
    *list-style: decimal;
    /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin: 0 4em 3em 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.post-body ol ol {
    margin: 0 0 0 2em;
    /* Add some left margin for inner lists */
}

.post-body ol>li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: linear-gradient(to right, #0c1825, #51159414);;
    color: #92bd95;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

.post-body ol>li:hover {
    background: #eee;
    color #1b1c1b;
}

.post-body ol>li:hover:before {
    transform: rotate(360deg);
}

.post-body ol>li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #3e4348;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
/*endblock*/


/*block beautify a*/
.post-body a:not(.btn) {
    color: #00adb5;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid currentColor;
}

.post-body a:hover:not(.btn) {
    background-color: #00adb5;
    color: #fff;
}
/*endblock*/

code {
    font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
    background-color: #ffcfcf;
    background: linear-gradient(#ffcfcf, #f4e8d3);
    overflow-wrap: break-word;
    color: #333;
    padding: 1px;
    border-radius: 3px;
}

.post-body ul {
    margin: 0 4em 1em 0;
    }

.post-body ul li{
    list-style: none;
    }

.post-body ul li:before {
    float: left;
    left: 0;
    width: 8px;
    height: 8px;
    border: .2rem solid #49b1f5;
    border-radius: 50%;
    background: #fff;
    content: "";
    line-height: 19px;
    margin-top: .5rem;
    margin-right: .7rem;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.post-body ul>li:hover:before {
    border-color: #ff7242;
}

// .site-brand-container {
//   background-image: url("https://harumona-blog.oss-cn-beijing.aliyuncs.com/blog/bg_water_header.jpg")

// }

svg path{
    stroke: #a29b9b;
    fill: #333;
    }
svg text{
    fill: white;
    }
svg rect{
    fill: #5a2d2d;
}

#hitokoto {
    font-size: xx-small;
    margin: 12px 0 0 0;
    }

#hitofrom {
    font-size: xx-small;
    float: right;
    margin: 0 30px 0 0;
    font-style: italic;
    }

.site-subtitle{
    font-family: serif;
    }

.site-meta{
    height: 140px;
    }