.post-block:hover{
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    transition: .5s;
    }

.post-block{
    padding: 20px 20px 20px 20px;
    transition: all .5s linear;
    border-radius: 10px;
    }

nav.pagination {
    text-align: center;
    font-size: larger;
}

.post-body h1:hover, .post-body h2:hover, .post-body h3:hover, .post-body h4:hover, .post-body h5:hover, .post-body h6:hover{
    padding-left: 15px;
    transition: .4s;
    }

.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6{
    transition: all .4s linear;
    }


ul>li:hover:before {
    border-color: #ff7242;
}

.site-content ul li::marker {
    float: left;
    left: 0;
    width: 8px;
    height: 8px;
    border: .2rem solid #49b1f5;
    border-radius: 50%;
    background: #fff;
    content: "";
    line-height: 19px;
    margin-top: .5rem;
    margin-right: .7rem;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}